<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            <span><%= link_to t('view.followings'), followings_user_path(@user) %></span>
            <span><%= link_to t('view.followers'), followers_user_path(@user) %></span>
            <span><%= link_to t('view.favotites'), favorites_micropost_path(@user) %></span>
        </section>
    </aside>