<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to t('view.microposts'), root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to t('view.home'), root_path %></li>
                <li><%= link_to t('view.help'), '#' %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= t('view.language') %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to('日本語', url_for(params.merge(locale: 'ja'))) %></li>
                        <li><%= link_to('英語', url_for(params.merge(locale: 'en'))) %></li>
                    </ul>
                </li>
                <% if logged_in? %>
                    <li><%= link_to t('view.users'), '#' %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%= t('view.account') %> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to t('view.profile'), current_user %></li>
                            <li><%= link_to t('view.setting'), edit_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to t('view.logout'), logout_path, method: "delete" %>
                            </li>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to t('view.login'), login_path %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>